body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.top-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

h1 span {
    color: orange;
}

.haf-colom {
    width: 43%;
    padding-left: 6%;
    float: left;
}

.btn-hire {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: dimgray;
}
.second-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: inline-block;
}

/* Here is the third Section */
.experience-section{
    padding-bottom: 20em;
}
.experience-section div {
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}

.div-haf{
    width: 40%;
float: left;
margin-left: 5%;
padding-left: 2%;
}

#full-stack{
    border-left: 7px solid;
border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 100%;
border-image-slice: 1;
}

#baby-web {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
        border-image-slice: 100%;
    border-image-slice: 1;
    padding-bottom: 24px;
}
h2 {
    font-size: 40px;
}